<div id="bond-menu">
    #foreach($key in $menuItems.keySet())
        <div class="bond-menu-container" id="${key}Menu">$menuItems.get($key)</div>
    #end
</div>
<link rel="stylesheet" type="text/css" href="${urlStub}css/bond-menu.css">
<script type="text/javascript" src="${urlStub}js/bond-menu.js"></script>
<script type="text/javascript">
    Event.observe(document,"dom:loaded", setupBondMenu);
</script>
